
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,800;1,500&family=Roboto:wght@100;300;500;700&family=Rubik:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


  body{
    width: 100%;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 20px;
    color: #222;
}
p{
    
        font-size: 20px;
        color: #6c6b6b;
    
}
.section-p1{
    padding: 40px 80px ;
}
.section m-1{
    margin: 40px 0;
}
button.normal{
    font-size: 30px;
    font-weight: 600;
    padding: 5px 30px;
    margin: 50px 50px;
    color: #1a1a1a;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border-radius: 4px;
    width: 300px;


border: none;
}
button.white{
    font-size: 30px;
    font-weight: 600;
    padding: 5px 30px;
    margin: 25px 30px;
    color: #eee6e6;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border :1px solid #fddde4;
    border-radius: 4px;
    width: 300px;}


/*----------------------------navbar-----------------------------*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #5b0005;
  z-index: 100;
}

body.dark nav{
  border: 1px solid #5b0005;

}

nav .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  /* background-color:wheat; */
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
  color:  #FFF;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color:  #FFF;
  text-decoration: none;
}

.menu .logo-toggle{
  display: none;
}

.nav-bar .nav-links{
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}

.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color:  #FFF;
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color:  #FFF;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox{
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i{
  position: absolute;
  color:  #FFF;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i{
  text-decoration: none;
}
.dark-light{
  position: relative;
}
.cart-num{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #464d4d;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: -5px;
  font-size: 10px;
}
.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.searchBox{
  position: relative;
}

.searchBox .search-field{
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: wheat;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: wheat;
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #010718;
  background-color: #F2F2F2;
}

body.dark .search-field input{
  color:  #FFF;
}

.search-field i{
  position: absolute;
  color: #088178;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i{
  color:  #FFF;
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen{
      display: block;
  }

  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: #010718;
      z-index: 100;
      transition: all 0.4s ease;
  }
  nav.active .menu{
      left: -0%;
  }

  nav.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }

  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-toggle .siderbarClose{
      color:  #FFF;
      font-size: 24px;
      cursor: pointer;
  }

  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }

  .nav-links li a{
      display: block;
      margin-top: 20px;
  }
}
/*-------------------end navbar------------------*/


/*---------------------header----------------------*/
#hero{
  margin-top: 70px;
    background-image: url("../images/b7\ \(1\).jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;

}

#hero h4{
    padding-bottom:15px ;

}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("../images/button.png");
    background-color: transparent ;
    color: #eee8e3;
    border: 0;
    padding:  14px  80px 14px 65px;
    background-repeat:no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/*--------------------end header--------------------*/


/*--------------------Ads---------------------------*/
#feature{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
#feature .fe-box{
    /* width: 180px; */
    width: 19%;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 20px 20px 34px rgb(0,0,0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    /* margin: 15px 25px; */

}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(128, 125, 177, 0.1);

}
#feature .fe-box img{
    width: 100%;
}
#feature .fe-box h6{
    padding: 6px 8px 6px 8px;
    line-height: 1;
    border-radius:4px ;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2)h6{
    background-color:#cce7d0 ;

}
#feature .fe-box:nth-child(5) h6{
    background-color:#de9fe5 ;

}

#feature .fe-box:nth-child(1) h6{
    background-color:#fff2e5 ;

}
#feature .fe-box:nth-child(4) h6{
    background-color:#8ccee2 ;

}
#feature .fe-box:nth-child(3) h6{
    background-color:#e2efa1 ;
}
@media (max-width:1111px) {
  #feature .fe-box{
    width: 29%;
   }
  }
@media (max-width:781px) {
  #feature .fe-box{
    width: 45%;
   }
  }
@media (max-width:600px) {
  #feature .fe-box{
   width: 75%;
   margin-left: 50px;
  }
}
@media (max-width:470px) {
  #feature .fe-box{
 width: 85%;
 margin-left: 20px;
}
}
/*-----------------------end ads------------------------*/

/*-----------------------products---------------------*/
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 20PX;
}


.product-card {
    width: 30%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background: #fafafa;
    padding: 10px 10px;
    border: 1px rgb(191, 206, 198) solid;
    transition: 0.2 ease;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(233, 208, 17);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: rgb(247, 156, 96);
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.itemTitle {
  height: 80px;
  overflow: hidden;
  font-size: 15px;
}
.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: rgb(247, 156, 96);
    font-weight: 600;
 
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;

}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
    cursor: pointer;
}
.toCart{
  color: rgb(247, 156, 96);
  cursor: pointer;
  margin-left: 6px;
}
.toWishList{
  color: rgb(247, 156, 96);
  cursor: pointer;
}
.product-links a:hover {
    color: rgb(247, 156, 96);
}
@media (max-width:1081px) {
  .product-bottom-details .product-price {
   
    width: 60%;
}
.product-bottom-details .product-links {
   
  width: 40%;
}
  }
@media (max-width:887px) {
  .product-card {
    width: 47%;
  }}
@media (max-width:624px) {
  .product-card {
    width: 95%;
  }
}


/*----------------------end products-----------------------*/

/*----------------------70% off----------------------------*/
#banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url("../images/b1.jpg");
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    
}
#banner h4{
color: #fff2e5;
font-size: 16px;
}
#banner h2{
    color: #fff2e5;
    font-size: 35px;
    padding: 10px 0;
    }
    #banner h2  span{
        color: #5b0005;
      
}
#banner button:hover{
            background: #5b0005;
            color: whitesmoke;
         }
/*----------------------end 70% off----------------------*/
/*----------------------sm-banner----------------------*/
#sm-banner{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
         }        
#sm-banner .banner-box{
            width: 48%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: flex-start;
            justify-content: center;
            background-image: url("../images/b17\ \(2\).jpg");
            height: 300px;
            background-size: cover;
            background-position: center;
            padding: 30px;
         }
         #sm-banner .banner-box2{
            background-image: url("../images/b10.jpg");
         }
         #sm-banner h2{
            color: whitesmoke;
            font-size: 35px;
            font-weight: 800;
         }
         #sm-banner span{
            color: whitesmoke;
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 15px;
         }
         
         #sm-banner .banner-box:hover button{
            background-color:#5b0005;
            border: 1px solid #5b0005;
         }
         
@media (max-width:949px) {
  #sm-banner .banner-box {
    width: 100%;
  }
  .banner-box button{
    margin: 0px auto;
  }
}
  @media (max-width:539px) {
    #sm-banner .banner-box{
      height: 300px;
      padding: 10px;
   }
   #sm-banner h2{
      font-size: 35px;
      font-weight: 400;
   }
   #sm-banner span{
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 15px;
   }
   .banner-box button{
    margin: 0px auto;
    font-weight: 400;
  }
  }
  @media (max-width:482px) {
    #sm-banner h2{
      font-size: 25px;
      font-weight: 400;
   }
   #sm-banner span{
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 15px;
   }
   .banner-box button{
    width: 90%;
    font-size: 20px;
    font-weight: 400;
  }
  }
/*----------------------end sm-banner--------------------*/
/*----------------------banner3--------------------------*/
         #banner3{
            padding: 1px 60px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
         }
         #banner3 .banner-box{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: flex-start;
            justify-content: center;
            background-image: url("../images/b7\ \(1\).jpg");
            width: 32%;
            height: 200px;
            background-size: cover;
            background-position: center;
            padding: 20px;
        margin-bottom: 20px;}
        #banner3 .banner-box2{
            background-image: url("../images/b4\ \(1\).jpg");
        }
        #banner3 .banner-box3{
            background-image: url("../images/b7.jpg");
            background-position: 600px;
        }
        #banner3 h2{
            color:#f2e8e8;
            font-weight: 800;
            font-size: 15px;
        }
        #banner3 h3{
            color: #5b0005;
            font-weight: 800;
            font-size: 15px;
        }
        @media (max-width:769px) {
          #banner3 .banner-box{
            width: 48%;
          }
        }
        @media (max-width:569px) {
          #banner3 .banner-box{
            width: 97%;
          }
        }
/*----------------------banner3--------------------------*/
/*----------------------footer---------------------------*/
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: rgb(251, 248, 244);
  padding: 60px 10%;
}

ul{
  list-style: none;
}

.footer-col{
  width: 25%;
}

.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #5b0005;
  text-transform: capitalize;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color:#0c0c0c;
  height: 2px;
  width: 40px;
}

ul li:not(:last-child){
  margin-bottom: 8px;
}

ul li a{
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #5b0005;
  text-decoration: none;
  transition: 0.4s;
}

ul li a:hover{
  color: rgb(25, 24, 24);
  padding-left: 2px;
}

.links a{
  display: inline-block;
  height: 44px;
  width: 44px;
  color: white;
  background-color: #5b0005;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover{
  color: rgb(23, 23, 23);
  background-color:  #5b0005;
}

@media(max-width: 740px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
  }

  .footer-col h4::before{
      all: unset;
  }
}

@media(max-width: 555px){
  .footer-col{
      width: 100%;
  }
}
/*----------------------end footer---------------------------*/
